.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.topbar .logo_section {
  display: flex;
  align-items: center;
}

.topbar .logo {
  width: 90px;
  margin-right: 5px;
}

.topbar .app-name h1 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 6px;
  text-align: left;
}

.topbar .app-name h2 {
  margin: 0;
  font-size: 16px;
  color: gray;
}

.topbar .notification {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.topbar .notification .icon {
  width: 25px;
  height: 25px;
}

.topbar .user-section {
  display: flex;
  align-items: center;
}

.topbar .user {
  display: flex;
  align-items: center;
}

.topbar .user-icon {
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.topbar .menu-button {
  display: none;
}

@media (max-width: 768px) {
  .topbar .logo {
    width: 70px; 
  }

  .topbar .app-name h1 {
    font-size: 20px; 
  }

  .topbar .app-name h2 {
    font-size: 14px;
  }

  .topbar .notification .icon {
    width: 20px; 
    height: 20px;
  }

  .topbar .user p {
    font-size: 14px; 
  }

  .topbar .user-icon {
    height: 30px;
    width: 30px;
  }

  .topbar .menu-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .topbar .user p {
    display: none;
  }
}

.topbar .notification-container {
  position: relative;
}

.topbar .notification {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.topbar .notification-badge {
  position: absolute;
  top: 0px;
  right: 5px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.topbar .notification-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.topbar .notification-item:last-child {
  border-bottom: none;
}

.topbar .no-notifications {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.topbar .notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  width: 230px;
}

.topbar .notification-text {
  flex: 1;
  margin: 2px;
  font-size: 13px;
}

.topbar .close-icon {
  color: rgb(250, 39, 39);
  cursor: pointer;
  font-size: 5px;
  margin-left: 10px;
}