.bara-sus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bara-sus .sectiune-logo {
  display: flex;
  align-items: center;
}

.bara-sus .container-logo {
  display: flex;
  align-items: center;
}

.bara-sus .imagine-logo {
  width: 90px;
  margin-right: 5px;
}

.bara-sus .nume-aplicatie h1 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 6px;
  text-align: left;
}

.bara-sus .nume-aplicatie h2 {
  margin: 0;
  font-size: 16px;
  color: gray;
}

.bara-sus .sectiune-utilizator {
  display: flex;
  align-items: center;
}

.bara-sus .utilizator {
  display: flex;
  align-items: center;
}

.bara-sus .icon-utilizator {
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.bara-sus .buton-meniu {
  display: none;
}

.bara-sus .container-notificari {
  position: relative;
}

.bara-sus .buton-notificari {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.bara-sus .insigna-notificari {
  position: absolute;
  top: 0px;
  right: 5px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.bara-sus .lista-notificari {
  position: absolute;
  right: 0;
  top: 40px;
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.bara-sus .element-notificare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  width: 230px;
}

.bara-sus .element-notificare:last-child {
  border-bottom: none;
}

.bara-sus .text-notificare {
  flex: 1;
  margin: 2px;
  font-size: 13px;
}

.bara-sus .icon-inchidere {
  color: rgb(250, 39, 39);
  cursor: pointer;
  font-size: 5px;
  margin-left: 10px;
}

.bara-sus .fara-notificari {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .bara-sus .imagine-logo {
    width: 70px;
  }

  .bara-sus .nume-aplicatie h1 {
    font-size: 20px;
  }

  .bara-sus .nume-aplicatie h2 {
    font-size: 14px;
  }

  .bara-sus .utilizator p {
    font-size: 14px;
  }

  .bara-sus .icon-utilizator {
    height: 30px;
    width: 30px;
  }

  .bara-sus .buton-meniu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .bara-sus .utilizator p {
    display: none;
  }
}