.aplicatie {
  background-color: #ffffff;
  padding-top: 70px;
}

.aplicatie .container-aplicatie {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.aplicatie .container-pagina {
  background-color: #ffffff;
  margin: 15px;
  border-radius: 8px;
  flex: 1;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: calc(92vh - 92px);
  margin-left: 235px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.aplicatie .aspect-principal {
  background-color: transparent;
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.aplicatie .container-pagina::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .aplicatie .container-pagina {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  .aplicatie .aspect-principal {
    margin: 0;
  }
}